# Support [CentOS6,Amazon Linux]
- hosts: all
  max_fail_percentage: 0
  become: true
  roles:
    - role: common
      tags: common
    # Use ntpd
    - role: ntpd
      tags: ntpd
    # Use Postfix(localhost only)
    - role: postfix
      tags: postfix
    # Use sshd
    - role: sshd
      tags: sshd

- hosts: db-servers
  max_fail_percentage: 0
  become: true
  roles:
    # Use MySQL
    - role: mysql
      tags: mysql
    # Use PostgreSQL
    - role: postgresql
      tags: postgresql
    # Use Redis
    - role: redis
      tags: redis
    # Use MongoDB
    - role: mongodb
      tags: mongodb

- hosts: web-servers
  max_fail_percentage: 0
  become: true
  roles:
    # Use Apache  *** Tips: Please change or add [DocumentRoot,Allow from] from [roles/httpd/templates/etc/httpd/conf.d/z_front.conf,allow-ip.inc]
    - role: httpd
      tags: httpd
    # Use PHP for Apache  *** Tips: It is better to delete unnecessary [ImageMagick,MySQL,PostgreSQL,Redis] from [roles/php-httpd/tasks/main.yml]
    - role: php-httpd
      tags: php-httpd
